.benefits {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.benefits h2 {
  color: #353535;
}

.benefits p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.6;
}

.benefits ul {
  list-style: disc;
  margin-left: 20px;
}

.benefits ul li {
  margin: 10px 0;
}
