.header {
    background-color: #7806b9;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  